<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokeDex</title>

    <style>
        body {
            background-image: url('./static/bkg.jpg');
            background-size: cover;
            height: fit-content;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body style="background-color: rgb(252, 204, 46);">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" style="color: wheat;"><h2>PokeDex</h2></a>
              <a href="mailto: mananaroramail@gmail.com">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-envelope-fill mx+1" viewBox="0 0 16 16">
                <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
            </a>
              <a href="https://github.com/JamesBondOOO7">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg>
              </a>
              <a class="navbar-brand" href="about.html" style="color: wheat; margin-right: 2%;"><h2>About</h2></a>
            </div>
          </nav>
        <div class="container">
            <br>
            <h1>Pokemon Recognizer</h1>
            <br>
            <form method="POST" action="/" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="formFile" class="form-label"><b>Input an image for the PokeDex...</b></label>
                    <br>
                    <input class="form-control" type="file" id="formFile" name="userfile" placeholder="Your Image">
                </div>
                <br>
                <input type="submit">
                <br>
            </form>

          {% if your_result %}
        
        <div>
            <p>
                <img src="{{your_result['image']}}" width="400" height="400" class="rounded-0" style="float: left; padding-right: 40px; margin-bottom: 2%;">
                <h1>Predicted Pokemon : </h1>
                <h1><i>{{your_result['prediction']}} </i></h1>
            </p>
            <hr style="color: black; height: 2px; background-color: black;">
        </div>

        {% else %}
            <div>
                <h1>Kindly Upload an Image</h1>
            </div>
    
        {% endif %}
</body>
</html>